/*handheld.css*/
body{
	font-family:helvetica, sans-serif;
}

#navigation_menu{
	float: top;
}

#link_panel{
	list-style-type: none;
}

#link_panel a{
	display: block;
	font-weight: bold;
	font-size: 5em;
	color: #ffffff;
	background-color: rgb(101, 131, 9);
	text-align: center;
	padding: 0.3em;
	text-decoration: none;
	text-transform: uppercase;
}

#top
{
	padding: .5em;
	background-color: #ddd;
	border-bottom: 1px solid gray;
}

#rockwell{
	size:75%;
}